In [66]:
import requests
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [111]:
import requests

### 시가총액상위100개 종목 크롤링

In [139]:
lis = []
for page in range(3):
    res= requests.get('https://finance.naver.com/sise/sise_market_sum.naver?&page={}'.format(page))
    soup = BeautifulSoup(res.text,'html.parser')
    title = soup.select('#contentarea > div.box_type_l > table.type_2 > tbody > tr > td:nth-child(2) > a')
    lis.append(title)
lis

[[],
 [<a class="tltle" href="/item/main.naver?code=005930">삼성전자</a>,
  <a class="tltle" href="/item/main.naver?code=373220">LG에너지솔루션</a>,
  <a class="tltle" href="/item/main.naver?code=000660">SK하이닉스</a>,
  <a class="tltle" href="/item/main.naver?code=207940">삼성바이오로직스</a>,
  <a class="tltle" href="/item/main.naver?code=005935">삼성전자우</a>,
  <a class="tltle" href="/item/main.naver?code=035420">NAVER</a>,
  <a class="tltle" href="/item/main.naver?code=006400">삼성SDI</a>,
  <a class="tltle" href="/item/main.naver?code=005380">현대차</a>,
  <a class="tltle" href="/item/main.naver?code=035720">카카오</a>,
  <a class="tltle" href="/item/main.naver?code=051910">LG화학</a>,
  <a class="tltle" href="/item/main.naver?code=000270">기아</a>,
  <a class="tltle" href="/item/main.naver?code=005490">POSCO홀딩스</a>,
  <a class="tltle" href="/item/main.naver?code=105560">KB금융</a>,
  <a class="tltle" href="/item/main.naver?code=068270">셀트리온</a>,
  <a class="tltle" href="/item/main.naver?code=055550">신한지주</a>,
  <a class="tltle" href="/item/main.naver?code=028260">삼성물산</a>,
  <a class="tltle" href="/item/main.naver?code=323410">카카오뱅크</a>,
  <a class="tltle" href="/item/main.naver?code=012330">현대모비스</a>,
  <a class="tltle" href="/item/main.naver?code=096770">SK이노베이션</a>,
  <a class="tltle" href="/item/main.naver?code=066570">LG전자</a>,
  <a class="tltle" href="/item/main.naver?code=034730">SK</a>,
  <a class="tltle" href="/item/main.naver?code=015760">한국전력</a>,
  <a class="tltle" href="/item/main.naver?code=011200">HMM</a>,
  <a class="tltle" href="/item/main.naver?code=086790">하나금융지주</a>,
  <a class="tltle" href="/item/main.naver?code=034020">두산에너빌리티</a>,
  <a class="tltle" href="/item/main.naver?code=017670">SK텔레콤</a>,
  <a class="tltle" href="/item/main.naver?code=051900">LG생활건강</a>,
  <a class="tltle" href="/item/main.naver?code=032830">삼성생명</a>,
  <a class="tltle" href="/item/main.naver?code=259960">크래프톤</a>,
  <a class="tltle" href="/item/main.naver?code=377300">카카오페이</a>,
  <a class="tltle" href="/item/main.naver?code=010950">S-Oil</a>,
  <a class="tltle" href="/item/main.naver?code=009150">삼성전기</a>,
  <a class="tltle" href="/item/main.naver?code=329180">현대중공업</a>,
  <a class="tltle" href="/item/main.naver?code=033780">KT&amp;G</a>,
  <a class="tltle" href="/item/main.naver?code=018260">삼성에스디에스</a>,
  <a class="tltle" href="/item/main.naver?code=003550">LG</a>,
  <a class="tltle" href="/item/main.naver?code=316140">우리금융지주</a>,
  <a class="tltle" href="/item/main.naver?code=010130">고려아연</a>,
  <a class="tltle" href="/item/main.naver?code=003490">대한항공</a>,
  <a class="tltle" href="/item/main.naver?code=090430">아모레퍼시픽</a>,
  <a class="tltle" href="/item/main.naver?code=003670">포스코케미칼</a>,
  <a class="tltle" href="/item/main.naver?code=030200">KT</a>,
  <a class="tltle" href="/item/main.naver?code=000810">삼성화재</a>,
  <a class="tltle" href="/item/main.naver?code=352820">하이브</a>,
  <a class="tltle" href="/item/main.naver?code=302440">SK바이오사이언스</a>,
  <a class="tltle" href="/item/main.naver?code=036570">엔씨소프트</a>,
  <a class="tltle" href="/item/main.naver?code=024110">기업은행</a>,
  <a class="tltle" href="/item/main.naver?code=361610">SK아이이테크놀로지</a>,
  <a class="tltle" href="/item/main.naver?code=011070">LG이노텍</a>,
  <a class="tltle" href="/item/main.naver?code=086280">현대글로비스</a>],
 [<a class="tltle" href="/item/main.naver?code=251270">넷마블</a>,
  <a class="tltle" href="/item/main.naver?code=326030">SK바이오팜</a>,
  <a class="tltle" href="/item/main.naver?code=011170">롯데케미칼</a>,
  <a class="tltle" href="/item/main.naver?code=402340">SK스퀘어</a>,
  <a class="tltle" href="/item/main.naver?code=032640">LG유플러스</a>,
  <a class="tltle" href="/item/main.naver?code=034220">LG디스플레이</a>,
  <a class="tltle" href="/item/main.naver?code=097950">CJ제일제당</a>,
  <a class="tltle" href="/item/main.naver?code=009540">한국조선해양</a>,
  <a class="tltle" href="/item/main.naver?code=009830">한화솔루션</a>,
  <a class="tltle" href="/item/main.naver?code=018880">한온시스템</a>,
  <a class="tltle" href="/item/main.naver?code=088980">맥쿼리인프라</a>,
  <a class="tltle" href="/item/main.naver?code=011790">SKC</a>,
  <a class="tltle" href="/item/main.naver?code=004020">현대제철</a>,
  <a class="tltle" href="/item/main.naver?code=035250">강원랜드</a>,
  <a class="tltle" href="/item/main.naver?code=021240">코웨이</a>,
  <a class="tltle" href="/item/main.naver?code=028050">삼성엔지니어링</a>,
  <a class="tltle" href="/item/main.naver?code=000060">메리츠화재</a>,
  <a class="tltle" href="/item/main.naver?code=010140">삼성중공업</a>,
  <a class="tltle" href="/item/main.naver?code=006800">미래에셋증권</a>,
  <a class="tltle" href="/item/main.naver?code=383220">F&amp;F</a>,
  <a class="tltle" href="/item/main.naver?code=000720">현대건설</a>,
  <a class="tltle" href="/item/main.naver?code=047810">한국항공우주</a>,
  <a class="tltle" href="/item/main.naver?code=137310">에스디바이오센서</a>,
  <a class="tltle" href="/item/main.naver?code=069500">KODEX 200</a>,
  <a class="tltle" href="/item/main.naver?code=267250">HD현대</a>,
  <a class="tltle" href="/item/main.naver?code=005830">DB손해보험</a>,
  <a class="tltle" href="/item/main.naver?code=011780">금호석유</a>,
  <a class="tltle" href="/item/main.naver?code=138040">메리츠금융지주</a>,
  <a class="tltle" href="/item/main.naver?code=078930">GS</a>,
  <a class="tltle" href="/item/main.naver?code=000100">유한양행</a>,
  <a class="tltle" href="/item/main.naver?code=008560">메리츠증권</a>,
  <a class="tltle" href="/item/main.naver?code=241560">두산밥캣</a>,
  <a class="tltle" href="/item/main.naver?code=003410">쌍용C&amp;E</a>,
  <a class="tltle" href="/item/main.naver?code=161390">한국타이어앤테크놀로지</a>,
  <a class="tltle" href="/item/main.naver?code=036460">한국가스공사</a>,
  <a class="tltle" href="/item/main.naver?code=029780">삼성카드</a>,
  <a class="tltle" href="/item/main.naver?code=071050">한국금융지주</a>,
  <a class="tltle" href="/item/main.naver?code=002790">아모레G</a>,
  <a class="tltle" href="/item/main.naver?code=020150">일진머티리얼즈</a>,
  <a class="tltle" href="/item/main.naver?code=028670">팬오션</a>,
  <a class="tltle" href="/item/main.naver?code=180640">한진칼</a>,
  <a class="tltle" href="/item/main.naver?code=128940">한미약품</a>,
  <a class="tltle" href="/item/main.naver?code=271560">오리온</a>,
  <a class="tltle" href="/item/main.naver?code=307950">현대오토에버</a>,
  <a class="tltle" href="/item/main.naver?code=004990">롯데지주</a>,
  <a class="tltle" href="/item/main.naver?code=139480">이마트</a>,
  <a class="tltle" href="/item/main.naver?code=005940">NH투자증권</a>,
  <a class="tltle" href="/item/main.naver?code=006360">GS건설</a>,
  <a class="tltle" href="/item/main.naver?code=016360">삼성증권</a>,
  <a class="tltle" href="/item/main.naver?code=005387">현대차2우B</a>]]

In [159]:
title = []
for i in lis[1]:
    name = i.text
    title.append(name)

In [162]:
print(title)

['삼성전자', 'LG에너지솔루션', 'SK하이닉스', '삼성바이오로직스', '삼성전자우', 'NAVER', '삼성SDI', '현대차', '카카오', 'LG화학', '기아', 'POSCO홀딩스', 'KB금융', '셀트리온', '신한지주', '삼성물산', '카카오뱅크', '현대모비스', 'SK이노베이션', 'LG전자', 'SK', '한국전력', 'HMM', '하나금융지주', '두산에너빌리티', 'SK텔레콤', 'LG생활건강', '삼성생명', '크래프톤', '카카오페이', 'S-Oil', '삼성전기', '현대중공업', 'KT&G', '삼성에스디에스', 'LG', '우리금융지주', '고려아연', '대한항공', '아모레퍼시픽', '포스코케미칼', 'KT', '삼성화재', '하이브', 'SK바이오사이언스', '엔씨소프트', '기업은행', 'SK아이이테크놀로지', 'LG이노텍', '현대글로비스', '넷마블', 'SK바이오팜', '롯데케미칼', 'SK스퀘어', 'LG유플러스', 'LG디스플레이', 'CJ제일제당', '한국조선해양', '한화솔루션', '한온시스템', '맥쿼리인프라', 'SKC', '현대제철', '강원랜드', '코웨이', '삼성엔지니어링', '메리츠화재', '삼성중공업', '미래에셋증권', 'F&F', '현대건설', '한국항공우주', '에스디바이오센서', 'KODEX 200', 'HD현대', 'DB손해보험', '금호석유', '메리츠금융지주', 'GS', '유한양행', '메리츠증권', '두산밥캣', '쌍용C&E', '한국타이어앤테크놀로지', '한국가스공사', '삼성카드', '한국금융지주', '아모레G', '일진머티리얼즈', '팬오션', '한진칼', '한미약품', '오리온', '현대오토에버', '롯데지주', '이마트', 'NH투자증권', 'GS건설', '삼성증권', '현대차2우B']

### 뽑은 종목 이름으로 종목코드뽑기

In [104]:
import FinanceDataReader as fdr

In [105]:
df_krx = fdr.StockListing('KRX')
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [248]:
def nametocode(name):
    return df_krx[df_krx.Name == name]['Symbol'].values[0]

In [ ]:
codes=[]
for i in title:
    codes.append(nametocode(i))

In [ ]:
codes

### 뽑은 종목 코드로 재무제표 크롤링

In [258]:
driver  =webdriver.Chrome()
count = 0

for code in codes[0:]:

    url = 'https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cn=&cmp_cd={}&menuType=block'.\
            format(code)

    driver.get(url)
    time.sleep(0.5)
    driver.find_element_by_id('cns_Tab22').click()
    time.sleep(0.5)

    html = driver.page_source

    tables = pd.read_html(html, encoding='utf-8')
    fin_df = tables[12]

    fin_df = fin_df.T.iloc[:6]
    fin_df.columns = fin_df.iloc[0]
    fin_df.drop('주요재무정보', inplace=True)

    fin_df.reset_index(inplace=True)
    fin_df.drop('level_0', axis=1, inplace=True)

    fin_df.index = fin_df.level_1.apply(lambda x: x.split()[0])
    fin_df.drop('level_1', axis=1, inplace=True)

    fin_df = fin_df[['매출액','영업이익','당기순이익','자산총계','부채총계','자본총계','ROE(%)', 'ROA(%)',\
            'EPS(원)', 'PER(배)','BPS(원)', 'PBR(배)']]
    
    fin_df['code'] = code

    fin_df.to_csv('./data/100_{}'.format(code))
    
    count +=1
    print(count, end=' ')

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_20408/2284843217.py:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('cns_Tab22').click()
C:\Users\bitcamp\anaconda3\lib\site-packages\pandas\core\generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"[id="cns_Tab22"]"}
  (Session info: chrome=101.0.4951.54)
Stacktrace:
Backtrace:
	Ordinal0 [0x0052A8E3+2402531]
	Ordinal0 [0x004BB011+1945617]
	Ordinal0 [0x003AC748+837448]
	Ordinal0 [0x003D9330+1020720]
	Ordinal0 [0x003D95CB+1021387]
	Ordinal0 [0x004063B2+1205170]
	Ordinal0 [0x003F42F4+1131252]
	Ordinal0 [0x004046C2+1197762]
	Ordinal0 [0x003F40C6+1130694]
	Ordinal0 [0x003CE676+976502]
	Ordinal0 [0x003CF586+980358]
	GetHandleVerifier [0x0079BC42+2511938]
	GetHandleVerifier [0x0078ED6F+2458991]
	GetHandleVerifier [0x005C31AA+575914]
	GetHandleVerifier [0x005C1FA6+571302]
	Ordinal0 [0x004C1DEB+1973739]
	Ordinal0 [0x004C6778+1992568]
	Ordinal0 [0x004C6865+1992805]
	Ordinal0 [0x004CFA41+2030145]
	BaseThreadInitThunk [0x761A6739+25]
	RtlGetFullPathName_UEx [0x775C8E7F+1215]
	RtlGetFullPathName_UEx [0x775C8E4D+1165]

In [259]:
driver  =webdriver.Chrome()
count = 0

for code in codes[74:]:

    url = 'https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cn=&cmp_cd={}&menuType=block'.\
            format(code)

    driver.get(url)
    time.sleep(0.5)
    driver.find_element_by_id('cns_Tab22').click()
    time.sleep(0.5)

    html = driver.page_source

    tables = pd.read_html(html, encoding='utf-8')
    fin_df = tables[12]

    fin_df = fin_df.T.iloc[:6]
    fin_df.columns = fin_df.iloc[0]
    fin_df.drop('주요재무정보', inplace=True)

    fin_df.reset_index(inplace=True)
    fin_df.drop('level_0', axis=1, inplace=True)

    fin_df.index = fin_df.level_1.apply(lambda x: x.split()[0])
    fin_df.drop('level_1', axis=1, inplace=True)

    fin_df = fin_df[['매출액','영업이익','당기순이익','자산총계','부채총계','자본총계','ROE(%)', 'ROA(%)',\
            'EPS(원)', 'PER(배)','BPS(원)', 'PBR(배)']]
    
    fin_df['code'] = code

    fin_df.to_csv('./data/100_{}'.format(code))
    
    count +=1
    print(count, end=' ')

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_20408/3790600353.py:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('cns_Tab22').click()

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26

In [ ]:
# 현대차2우B 와 KODEX 200 종목을 빼고 상위 종목 2개 추가

In [265]:
code2 = []
code2.append(nametocode('BGF리테일'))
code2.append(nametocode('한전기술'))

In [266]:
code2

['282330', '052690']

In [267]:
driver  =webdriver.Chrome()
count = 0

for code in code2:

    url = 'https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cn=&cmp_cd={}&menuType=block'.\
            format(code)

    driver.get(url)
    time.sleep(0.5)
    driver.find_element_by_id('cns_Tab22').click()
    time.sleep(0.5)

    html = driver.page_source

    tables = pd.read_html(html, encoding='utf-8')
    fin_df = tables[12]

    fin_df = fin_df.T.iloc[:6]
    fin_df.columns = fin_df.iloc[0]
    fin_df.drop('주요재무정보', inplace=True)

    fin_df.reset_index(inplace=True)
    fin_df.drop('level_0', axis=1, inplace=True)

    fin_df.index = fin_df.level_1.apply(lambda x: x.split()[0])
    fin_df.drop('level_1', axis=1, inplace=True)

    fin_df = fin_df[['매출액','영업이익','당기순이익','자산총계','부채총계','자본총계','ROE(%)', 'ROA(%)',\
            'EPS(원)', 'PER(배)','BPS(원)', 'PBR(배)']]
    
    fin_df['code'] = code

    fin_df.to_csv('./data/100_{}'.format(code))
    
    count +=1
    print(count, end=' ')

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_20408/4022591449.py:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('cns_Tab22').click()
C:\Users\bitcamp\anaconda3\lib\site-packages\pandas\core\generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

1 2

In [269]:
pd.read_csv('./data/100_000060')

,level_1,매출액,영업이익,당기순이익,자산총계,부채총계,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code
0,2020/12,28003.0,1610.0,1110.0,253593.0,226762.0,26831.0,16.88,1.78,946.0,3.88,22664.0,0.64,60
1,2021/03,29367.0,1788.0,1320.0,255167.0,231871.0,23296.0,19.28,1.86,1090.0,4.89,19886.0,0.97,60
2,2021/06,28757.0,2231.0,1641.0,262722.0,238171.0,24551.0,20.54,2.03,1360.0,4.66,21022.0,0.97,60
3,2021/09,30096.0,2359.0,1709.0,270726.0,246426.0,24300.0,22.43,2.22,1416.0,6.34,21646.0,1.41,60
4,2021/12,30394.0,2696.0,1939.0,276890.0,252938.0,23952.0,26.08,2.49,1605.0,6.13,22115.0,1.52,60

### 100개종목 concat 하기

In [270]:
import os

In [289]:
lists = os.listdir('./')
lists

['100_000060',
 '100_000100',
 '100_000270',
 '100_000660',
 '100_000720',
 '100_000810',
 '100_002790',
 '100_003410',
 '100_003490',
 '100_003550',
 '100_003670',
 '100_004020',
 '100_004990',
 '100_005380',
 '100_005490',
 '100_005830',
 '100_005930',
 '100_005935',
 '100_005940',
 '100_006360',
 '100_006400',
 '100_006800',
 '100_008560',
 '100_009150',
 '100_009540',
 '100_009830',
 '100_010130',
 '100_010140',
 '100_010950',
 '100_011070',
 '100_011170',
 '100_011200',
 '100_011780',
 '100_011790',
 '100_012330',
 '100_015760',
 '100_016360',
 '100_017670',
 '100_018260',
 '100_018880',
 '100_020150',
 '100_021240',
 '100_024110',
 '100_028050',
 '100_028260',
 '100_028670',
 '100_029780',
 '100_030200',
 '100_032640',
 '100_032830',
 '100_033780',
 '100_034020',
 '100_034220',
 '100_034730',
 '100_035250',
 '100_035420',
 '100_035720',
 '100_036460',
 '100_036570',
 '100_047810',
 '100_051900',
 '100_051910',
 '100_052690',
 '100_055550',
 '100_066570',
 '100_068270',
 '100_071050',
 '100_078930',
 '100_086280',
 '100_086790',
 '100_088980',
 '100_090430',
 '100_096770',
 '100_097950',
 '100_105560',
 '100_128940',
 '100_137310',
 '100_138040',
 '100_139480',
 '100_161390',
 '100_180640',
 '100_207940',
 '100_241560',
 '100_251270',
 '100_259960',
 '100_267250',
 '100_271560',
 '100_282330',
 '100_302440',
 '100_307950',
 '100_316140',
 '100_323410',
 '100_326030',
 '100_329180',
 '100_352820',
 '100_361610',
 '100_373220',
 '100_377300',
 '100_383220',
 '100_402340',
 'ETFs_main.csv']

In [361]:
file_list = []

for i in filelists:
    if '100' in i:
        df = pd.read_csv('./data/top100/'+i)
        file_list.append(df)
file_list

[   level_1      매출액    영업이익   당기순이익      자산총계      부채총계     자본총계  ROE(%)  \
 0  2020/12  28003.0  1610.0  1110.0  253593.0  226762.0  26831.0   16.88
 1  2021/03  29367.0  1788.0  1320.0  255167.0  231871.0  23296.0   19.28
 2  2021/06  28757.0  2231.0  1641.0  262722.0  238171.0  24551.0   20.54
 3  2021/09  30096.0  2359.0  1709.0  270726.0  246426.0  24300.0   22.43
 4  2021/12  30394.0  2696.0  1939.0  276890.0  252938.0  23952.0   26.08

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    1.78   946.0    3.88  22664.0    0.64    60
 1    1.86  1090.0    4.89  19886.0    0.97    60
 2    2.03  1360.0    4.66  21022.0    0.97    60
 3    2.22  1416.0    6.34  21646.0    1.41    60
 4    2.49  1605.0    6.13  22115.0    1.52    60  ,
    level_1     매출액   영업이익  당기순이익     자산총계    부채총계     자본총계  ROE(%)  ROA(%)  \
 0  2020/12  4614.0  272.0  119.0  23935.0  5470.0  18465.0   11.06    8.44
 1  2021/03  3790.0  139.0  201.0  25120.0  6506.0  18614.0    5.44    4.00
 2  2021/06  4333.0  234.0  332.0  24564.0  5672.0  18892.0    5.33    3.89
 3  2021/09  4515.0   65.0  301.0  24581.0  5478.0  19103.0    5.23    3.93
 4  2021/12  4240.0   48.0  157.0  24638.0  5279.0  19359.0    5.45    4.08

    EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0   170.0   27.75  26786.0    2.68   100
 1   277.0   45.98  27015.0    2.23   100
 2   459.0   45.93  27415.0    2.20   100
 3   412.0   44.63  27738.0    2.12   100
 4   230.0   45.05  28159.0    2.21   100  ,
    level_1       매출액     영업이익    당기순이익      자산총계      부채총계      자본총계  ROE(%)  \
 0  2020/12  169106.0  12816.0   9616.0  604904.0  305988.0  298917.0    5.05
 1  2021/03  165817.0  10764.0  10350.0  639690.0  331440.0  308250.0    7.58
 2  2021/06  183395.0  14872.0  13429.0  639057.0  315907.0  323150.0   11.35
 3  2021/09  177528.0  13270.0  11347.0  644930.0  307117.0  337813.0   14.24
 4  2021/12  171884.0  11751.0  12477.0  668500.0  319374.0  349126.0   14.69

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    2.57  2372.0   17.00  74556.0    0.84   270
 1    3.77  2553.0   14.89  76884.0    1.08   270
 2    5.68  3313.0   10.46  80600.0    1.11   270
 3    7.08  2799.0    7.36  84257.0    0.96   270
 4    7.48  3078.0    7.00  87073.0    0.94   270  ,
    level_1       매출액     영업이익    당기순이익      자산총계      부채총계      자본총계  ROE(%)  \
 0  2020/12   79662.0   9659.0  17677.0  711739.0  192648.0  519091.0    9.53
 1  2021/03   84942.0  13244.0   9926.0  751180.0  227394.0  523786.0   10.13
 2  2021/06  103217.0  26946.0  19884.0  777179.0  228399.0  548780.0   11.16
 3  2021/09  118053.0  41718.0  33153.0  832690.0  245546.0  587144.0   14.75
 4  2021/12  123766.0  42195.0  33199.0  963865.0  341954.0  621911.0   16.84

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    6.98  2427.0   18.14  75860.0    1.56   660
 1    7.17  1360.0   18.92  76542.0    1.73   660
 2    7.93  2726.0   15.95  79768.0    1.60   660
 3   10.57  4548.0    9.31  85338.0    1.21   660
 4   11.48  4556.0    9.93  90394.0    1.45   660  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계     자본총계  ROE(%)  \
 0  2020/12  43254.0   899.0 -1221.0  179393.0   91729.0  87664.0    1.84
 1  2021/03  41496.0  2009.0  1944.0  182466.0   93576.0  88890.0    1.83
 2  2021/06  43835.0  1410.0   849.0  183776.0   94180.0  89596.0    1.82
 3  2021/09  43519.0  2204.0  1484.0  186638.0   94772.0  91867.0    2.44
 4  2021/12  51805.0  1913.0  1266.0  196373.0  102080.0  94293.0    5.88

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    1.26 -1017.0   33.23  59453.0    0.61   720
 1    1.20  1209.0   38.78  60595.0    0.71   720
 2    1.30   416.0   51.21  60940.0    0.93   720
 3    1.65   896.0   34.17  62572.0    0.82   720
 4    2.95  1129.0   12.18  64200.0    0.69   720  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계      자본총계  ROE(%)  \
 0  2020/12  58660.0  1406.0  1031.0  925964.0  763138.0  162825.0    4.94
 1  2021/03  61824.0  5823.0  4385.0  921006.0  765807.0  155199.0    6.96
 2  2021/06  59882.0  4578.0  3295.0  926547.0  770062.0  156485.0    7.07
 3  2021/09  63676.0  3942.0  3007.0  932512.0  779322.0  153190.0    7.67
 4  2021/12  59407.0   725.0   561.0  949340.0  794417.0  154923.0    7.07

    ROA(%)  EPS(원)  PER(배)    BPS(원)  PBR(배)  code
 0    0.85  2039.0   12.56  382525.0    0.49   810
 1    1.15  8654.0    9.47  364550.0    0.52   810
 2    1.19  6505.0   10.44  367582.0    0.60   810
 3    1.29  5932.0   10.16  359781.0    0.65   810
 4    1.20  1101.0    9.10  363848.0    0.56   810  ,
    level_1      매출액    영업이익   당기순이익     자산총계     부채총계     자본총계  ROE(%)  \
 0  2020/12  12614.0  -145.0  -849.0  77887.0  15167.0  62720.0    0.31
 1  2021/03  13875.0  1977.0  1768.0  78500.0  14532.0  63969.0    1.49
 2  2021/06  13034.0  1046.0  1428.0  79953.0  14527.0  65426.0    4.50
 3  2021/09  12145.0   517.0   455.0  80641.0  14610.0  66030.0    5.14
 4  2021/12  14206.0    23.0  -731.0  80381.0  15625.0  64756.0    5.49

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    0.27  -414.0  507.65  36218.0    1.52  2790
 1    1.31   881.0  127.15  36923.0    1.76  2790
 2    3.04  1087.0   40.77  38097.0    1.68  2790
 3    3.52   227.0   27.54  37494.0    1.31  2790
 4    3.69  -321.0   23.65  36853.0    1.20  2790  ,
    level_1     매출액   영업이익  당기순이익     자산총계     부채총계     자본총계  ROE(%)  ROA(%)  \
 0  2020/12  4261.0  748.0  420.0  33268.0  16371.0  16897.0    7.92    4.13
 1  2021/03  3366.0  328.0  197.0  33488.0  16928.0  16560.0    8.09    4.15
 2  2021/06  4161.0  793.0  716.0  33834.0  17029.0  16805.0    9.11    4.74
 3  2021/09  4226.0  686.0  728.0  35688.0  18713.0  16976.0   12.06    6.02
 4  2021/12  4861.0  681.0  219.0  35648.0  19093.0  16555.0   11.12    5.40

    EPS(원)  PER(배)  BPS(원)  PBR(배)  code
 0    83.0   24.42  3364.0    1.99  3410
 1    39.0   28.05  3297.0    2.33  3410
 2   142.0   26.97  3346.0    2.50  3410
 3   144.0   19.47  3380.0    2.36  3410
 4    43.0   20.89  3296.0    2.34  3410  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계     자본총계  ROE(%)  \
 0  2020/12  19080.0  1191.0  4218.0  251901.0  218783.0  33117.0   -7.22
 1  2021/03  17925.0  1016.0  -561.0  267401.0  201810.0  65591.0   11.15
 2  2021/06  20126.0  1936.0  1168.0  263236.0  198517.0  64718.0   10.83
 3  2021/09  23035.0  4202.0  1063.0  260933.0  197065.0  63868.0   12.58
 4  2021/12  29075.0  7037.0  4118.0  266719.0  198062.0  68657.0   11.60

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0   -0.88  1883.0     NaN  14148.0    1.49  3490
 1    1.68  -217.0   11.66  18502.0    1.47  3490
 2    1.70   331.0   16.44  18248.0    1.73  3490
 3    2.26   304.0   15.83  18003.0    1.87  3490
 4    2.23  1174.0   15.41  19356.0    1.52  3490  ,
    level_1      매출액     영업이익    당기순이익      자산총계     부채총계      자본총계  ROE(%)  \
 0  2020/12   1626.0  -1480.0    557.0  242823.0  34210.0  208613.0    7.50
 1  2021/03  21805.0  10009.0  10574.0  251620.0  52194.0  199427.0    9.97
 2  2021/06  19235.0   6117.0  10011.0  240060.0  29358.0  210701.0   13.74
 3  2021/09  20268.0   6125.0   5666.0  249746.0  30418.0  219328.0   12.29
 4  2021/12   7282.0   2350.0    589.0  256698.0  37296.0  219402.0   12.36

    ROA(%)  EPS(원)  PER(배)    BPS(원)  PBR(배)  code
 0    6.60    79.0   10.50  115254.0    0.76  3550
 1    8.39  5914.0    8.30  110071.0    0.82  3550
 2   12.06  5857.0    6.42  127630.0    0.80  3550
 3   10.86  3393.0    6.13  132859.0    0.70  3550
 4   10.75    65.0    5.22  132574.0    0.61  3550  ,
    level_1     매출액   영업이익  당기순이익     자산총계     부채총계     자본총계  ROE(%)  ROA(%)  \
 0  2020/12  4499.0  209.0  158.0  20881.0  10644.0  10236.0    2.96    1.56
 1  2021/03  4672.0  341.0  398.0  34483.0  11145.0  23337.0    3.38    2.16
 2  2021/06  4800.0  356.0  339.0  34960.0  11301.0  23659.0    5.84    3.43
 3  2021/09  5050.0  315.0  409.0  37671.0  13558.0  24114.0    7.79    4.47
 4  2021/12  5373.0  205.0  192.0  39225.0  14840.0  24384.0    7.92    4.45

    EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0   248.0  225.74  15589.0    6.67  3670
 1   540.0  186.36  29588.0    5.24  3670
 2   437.0  104.02  30006.0    4.80  3670
 3   527.0   98.83  30587.0    5.79  3670
 4   251.0   81.69  30845.0    4.67  3670  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계      자본총계  ROE(%)  \
 0  2020/12  47806.0   554.0 -2670.0  348450.0  181520.0  166930.0   -2.59
 1  2021/03  49274.0  3039.0  2199.0  353730.0  183494.0  170236.0   -0.64
 2  2021/06  56219.0  5453.0  3525.0  355096.0  181047.0  174049.0    1.45
 3  2021/09  58602.0  8262.0  5959.0  361251.0  182540.0  178712.0    5.13
 4  2021/12  64405.0  7721.0  3368.0  370423.0  187819.0  182604.0    8.54

    ROA(%)  EPS(원)  PER(배)    BPS(원)  PBR(배)  code
 0   -1.27 -1935.0     NaN  124257.0    0.32  4020
 1   -0.30  1573.0     NaN  126701.0    0.38  4020
 2    0.75  2512.0   29.67  129464.0    0.41  4020
 3    2.56  4383.0    7.25  132924.0    0.36  4020
 4    4.19  2484.0    3.74  135836.0    0.30  4020  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계     자본총계  ROE(%)  \
 0  2020/12  23784.0   -13.0 -2951.0  166800.0   88489.0  78311.0   -3.03
 1  2021/03  23387.0   425.0  1475.0  159986.0   79975.0  80010.0   -0.66
 2  2021/06  25118.0   820.0   827.0  159058.0   77683.0  81375.0    1.11
 3  2021/09  26026.0  1042.0  2967.0  166687.0   80754.0  85933.0    2.93
 4  2021/12  24718.0  -124.0 -3765.0  199219.0  102926.0  96293.0    4.61

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0   -1.48 -2209.0     NaN  89735.0    0.39  4990
 1   -0.19   933.0     NaN  91460.0    0.37  4990
 2    0.57   625.0   57.45  93309.0    0.43  4990
 3    1.37  2571.0   17.56  99448.0    0.34  4990
 4    0.82 -1215.0   10.26  97590.0    0.31  4990  ,
    level_1       매출액     영업이익    당기순이익       자산총계       부채총계      자본총계  \
 0  2020/12  292434.0  12544.0  11834.0  2093442.0  1330032.0  763410.0
 1  2021/03  273909.0  16566.0  15222.0  2161505.0  1386269.0  775237.0
 2  2021/06  303261.0  18860.0  19826.0  2228202.0  1427112.0  801089.0
 3  2021/09  288672.0  16067.0  14869.0  2311100.0  1487985.0  823114.0
 4  2021/12  310265.0  15297.0   7014.0  2339464.0  1513306.0  826158.0

    ROE(%)  ROA(%)  EPS(원)  PER(배)    BPS(원)  PBR(배)  code
 0    2.04    0.95  3863.0   37.33  266968.0    0.72  5380
 1    3.27    1.40  4793.0   26.38  271275.0    0.80  5380
 2    5.37    2.12  6362.0   17.35  279427.0    0.86  5380
 3    7.60    2.82  4717.0   10.13  286707.0    0.70  5380
 4    6.84    2.57  1975.0   11.71  289609.0    0.72  5380  ,
    level_1       매출액     영업이익    당기순이익      자산총계      부채총계      자본총계  ROE(%)  \
 0  2020/12  152642.0   8634.0   7346.0  790870.0  314124.0  476746.0    3.61
 1  2021/03  160687.0  15524.0  11388.0  828226.0  336071.0  492155.0    4.99
 2  2021/06  182925.0  22006.0  18072.0  834696.0  326143.0  508553.0    8.47
 3  2021/09  206369.0  31167.0  26276.0  901351.0  366137.0  535213.0   12.43
 4  2021/12  213343.0  23683.0  16223.0  914716.0  366667.0  548049.0   13.97

    ROA(%)   EPS(원)  PER(배)    BPS(원)  PBR(배)  code
 0    2.26   8040.0   14.80  583189.0    0.47  5490
 1    3.02  11753.0   12.50  598503.0    0.53  5490
 2    5.07  19089.0    7.87  618263.0    0.56  5490
 3    7.32  27868.0    4.94  650197.0    0.51  5490
 4    8.44  17187.0    3.62  666803.0    0.41  5490  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계     자본총계  ROE(%)  \
 0  2020/12  53641.0   832.0   546.0  600544.0  535595.0  64949.0    8.94
 1  2021/03  54230.0  2761.0  2175.0  603985.0  543500.0  60485.0   10.30
 2  2021/06  49469.0  3388.0  2717.0  623228.0  558710.0  64519.0   10.76
 3  2021/09  55068.0  3313.0  2501.0  631516.0  565276.0  66240.0   12.05
 4  2021/12  50038.0  1622.0  1337.0  647516.0  580191.0  67325.0   13.33

    ROA(%)  EPS(원)  PER(배)    BPS(원)  PBR(배)  code
 0    0.96   758.0    5.61  106677.0    0.41  5830
 1    1.06  3078.0    5.46   99265.0    0.48  5830
 2    1.14  3817.0    5.67  105959.0    0.52  5830
 3    1.30  3513.0    5.70  108805.0    0.58  5830
 4    1.40  1873.0    4.40  110605.0    0.49  5830  ,
    level_1       매출액      영업이익     당기순이익       자산총계       부채총계       자본총계  \
 0  2020/12  615515.0   90470.0   66071.0  3782357.0  1022877.0  2759480.0
 1  2021/03  653885.0   93829.0   71417.0  3928263.0  1185577.0  2742686.0
 2  2021/06  636716.0  125667.0   96345.0  3847777.0  1024534.0  2823243.0
 3  2021/09  739792.0  158175.0  122933.0  4104207.0  1136546.0  2967661.0
 4  2021/12  765655.0  138667.0  108379.0  4266212.0  1217212.0  3048999.0

    ROE(%)  ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    9.98    7.23   949.0   21.09  39406.0    2.06  5930
 1   10.79    7.64  1044.0   19.54  39126.0    2.08  5930
 2   12.04    8.82  1391.0   16.99  40361.0    2.00  5930
 3   12.60    9.08  1775.0   14.36  42447.0    1.75  5930
 4   13.92    9.92  1567.0   13.55  43611.0    1.80  5930  ,
    level_1       매출액      영업이익     당기순이익       자산총계       부채총계       자본총계  \
 0  2020/12  615515.0   90470.0   66071.0  3782357.0  1022877.0  2759480.0
 1  2021/03  653885.0   93829.0   71417.0  3928263.0  1185577.0  2742686.0
 2  2021/06  636716.0  125667.0   96345.0  3847777.0  1024534.0  2823243.0
 3  2021/09  739792.0  158175.0  122933.0  4104207.0  1136546.0  2967661.0
 4  2021/12  765655.0  138667.0  108379.0  4266212.0  1217212.0  3048999.0

    ROE(%)  ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    9.98    7.23   949.0   21.09  39406.0    2.06  5935
 1   10.79    7.64  1044.0   19.54  39126.0    2.08  5935
 2   12.04    8.82  1391.0   16.99  40361.0    2.00  5935
 3   12.60    9.08  1775.0   14.36  42447.0    1.75  5935
 4   13.92    9.92  1567.0   13.55  43611.0    1.80  5935  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계     자본총계  ROE(%)  \
 0  2020/12  22125.0   835.0   756.0  627384.0  569356.0  58029.0   10.32
 1  2021/03  39406.0  3744.0  2574.0  622977.0  564300.0  58676.0   14.37
 2  2021/06  20900.0  3930.0  2705.0  601517.0  540131.0  61386.0   14.43
 3  2021/09  24995.0  2927.0  2147.0  612699.0  548263.0  64436.0   13.41
 4  2021/12  22321.0  2338.0  1889.0  585420.0  517187.0  68233.0   14.77

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    1.02   252.0    5.88  19352.0    0.58  5940
 1    1.34   857.0    4.36  19568.0    0.60  5940
 2    1.40   901.0    4.59  20472.0    0.63  5940
 3    1.36   715.0    4.73  21490.0    0.60  5940
 4    1.54   602.0    4.08  21630.0    0.58  5940  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계     자본총계  ROE(%)  \
 0  2020/12  28173.0  2049.0   102.0  137707.0   94586.0  43121.0    7.68
 1  2021/03  20141.0  1766.0  1579.0  144131.0   98978.0  45153.0    8.13
 2  2021/06  22317.0  1249.0   621.0  146590.0   99585.0  47006.0    7.39
 3  2021/09  21717.0  1523.0  1333.0  147083.0   98955.0  48128.0    7.96
 4  2021/12  26191.0  1927.0   756.0  151837.0  103110.0  48727.0    9.32

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    2.45    77.0    9.72  51755.0    0.73  6360
 1    2.50  1832.0   10.34  51112.0    0.84  6360
 2    2.35   649.0   11.32  52305.0    0.82  6360
 3    2.56  1502.0   10.41  53561.0    0.80  6360
 4    2.96   821.0    8.26  54487.0    0.73  6360  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계      자본총계  ROE(%)  \
 0  2020/12  32514.0  2462.0  3419.0  215342.0   81753.0  133589.0    4.54
 1  2021/03  29632.0  1332.0  1500.0  219228.0   82805.0  136423.0    5.67
 2  2021/06  33343.0  2952.0  2883.0  232154.0   90307.0  141847.0    7.29
 3  2021/09  34398.0  3735.0  4204.0  245212.0   96467.0  148745.0    8.30
 4  2021/12  38159.0  2657.0  3916.0  258332.0  106365.0  151967.0    8.45

    ROA(%)  EPS(원)  PER(배)    BPS(원)  PBR(배)  code
 0    3.05  4517.0   76.91  194065.0    3.24  6400
 1    3.73  1907.0   64.65  198153.0    3.33  6400
 2    4.67  3904.0   51.72  206019.0    3.39  6400
 3    5.30  5616.0   45.03  215823.0    3.33  6400
 4    5.28  5194.0   39.41  219885.0    2.98  6400  ,
    level_1      매출액    영업이익   당기순이익       자산총계       부채총계      자본총계  ROE(%)  \
 0  2020/12  35863.0  2971.0  1921.0  1309469.0  1216006.0   93463.0    8.94
 1  2021/03  47609.0  4191.0  2968.0  1264119.0  1167065.0   97055.0   10.71
 2  2021/06  26375.0  4343.0  3565.0  1126239.0  1024837.0  101402.0   10.71
 3  2021/09  33936.0  3972.0  3398.0  1104764.0   998889.0  105876.0   11.61
 4  2021/12  23578.0  2349.0  1904.0  1086418.0   980318.0  106100.0   11.66

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    0.63   231.0    9.25  14268.0    0.66  6800
 1    0.83   366.0    7.86  15059.0    0.65  6800
 2    0.87   435.0    7.16  15720.0    0.60  6800
 3    0.97   432.0    5.92  16475.0    0.53  6800
 4    0.99   224.0    5.94  16780.0    0.52  6800  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계     자본총계  ROE(%)  \
 0  2020/12  37196.0  2535.0  1446.0  438470.0  390582.0  47888.0   13.08
 1  2021/03  48376.0  2846.0  2117.0  469032.0  421387.0  47644.0   15.65
 2  2021/06  48789.0  2398.0  1903.0  489521.0  439258.0  50263.0   15.30
 3  2021/09  61485.0  2402.0  1912.0  502139.0  451352.0  50786.0   15.48
 4  2021/12  77829.0  1842.0  1898.0  541082.0  487738.0  53344.0   15.77

    ROA(%)  EPS(원)  PER(배)  BPS(원)  PBR(배)  code
 0    1.38   190.0    4.74  6557.0    0.56  8560
 1    1.53   280.0    5.10  6556.0    0.70  8560
 2    1.55   252.0    5.05  7442.0    0.64  8560
 3    1.59   263.0    5.02  7809.0    0.63  8560
 4    1.60   262.0    4.87  8360.0    0.62  8560  ,
    level_1      매출액    영업이익   당기순이익      자산총계     부채총계     자본총계  ROE(%)  \
 0  2020/12  14287.0  3497.0  2049.0   92255.0  33151.0  59104.0   10.92
 1  2021/03  23719.0  3315.0  2427.0   96815.0  35273.0  61542.0   12.41
 2  2021/06  24755.0  3393.0  2346.0   97602.0  33525.0  64077.0   15.28
 3  2021/09  26887.0  4578.0  3535.0  100892.0  32262.0  68630.0   16.40
 4  2021/12  21389.0  3582.0   847.0   99414.0  30702.0  68711.0   14.29

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    6.97  2610.0   22.87  76406.0    2.33  9150
 1    7.65  3005.0   20.63  79474.0    2.36  9150
 2    9.73  2889.0   15.43  82669.0    2.14  9150
 3   10.71  4504.0   13.64  88547.0    2.00  9150
 4    9.55  1102.0   17.17  88937.0    2.22  9150  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계      자본총계  ROE(%)  \
 0  2020/12  35738.0 -1809.0 -9235.0  252442.0  128230.0  124212.0   -7.42
 1  2021/03  36815.0   675.0   636.0  247390.0  121729.0  125660.0   -8.14
 2  2021/06  37973.0 -8973.0 -7221.0  255669.0  136552.0  119117.0  -13.99
 3  2021/09  35580.0  1418.0  1926.0  272510.0  141292.0  131218.0  -11.72
 4  2021/12  44566.0 -6968.0 -6753.0  272931.0  148793.0  124138.0   -8.95

    ROA(%)   EPS(원)  PER(배)    BPS(원)  PBR(배)  code
 0   -3.32 -12440.0     NaN  154230.0    0.70  9540
 1   -3.69    632.0     NaN  155967.0    0.86  9540
 2   -6.34  -8884.0     NaN  148023.0    0.91  9540
 3   -5.20   2465.0     NaN  147014.0    0.69  9540
 4   -4.34  -7344.0     NaN  139385.0    0.68  9540  ,
    level_1      매출액    영업이익   당기순이익      자산총계      부채총계     자본총계  ROE(%)  \
 0  2020/12  25618.0   654.0  -993.0  151373.0   91696.0  59677.0    5.30
 1  2021/03  24043.0  2546.0  3852.0  170142.0   92473.0  77669.0    9.36
 2  2021/06  27775.0  2211.0  2228.0  172185.0   91479.0  80706.0   10.07
 3  2021/09  25803.0  1784.0  1934.0  177778.0   94711.0  83067.0    9.90
 4  2021/12  29631.0   843.0 -1851.0  200076.0  118063.0  82012.0    8.79

    ROA(%)  EPS(원)  PER(배)   BPS(원)  PBR(배)  code
 0    1.96  -564.0   25.19  35551.0    1.31  9830
 1    3.71  2215.0   13.43  40237.0    1.25  9830
 2    4.16  1159.0   11.05  41885.0    1.06  9830
 3    4.21  1007.0   11.45  43103.0    1.04  9830
 4    3.51  -957.0   10.74  42563.0    0.83  9830  ,
    level_1      매출액    영업이익   당기순이익     자산총계     부채총계     자본총계  ROE(%)  \
 0  2020/12  22511.0  2617.0  1515.0  84996.0  14126.0  70870.0    8.37
 1  2021/03  22005.0  2700.0  2123.0  84357.0  13832.0  70525.0    9.49

In [362]:
len(file_list)

100

In [363]:
df_con = pd.concat(file_list)

In [364]:
df_con

,level_1,매출액,영업이익,당기순이익,자산총계,부채총계,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code
0,2020/12,28003.0,1610.0,1110.0,253593.0,226762.0,26831.0,16.88,1.78,946.0,3.88,22664.0,0.64,60
1,2021/03,29367.0,1788.0,1320.0,255167.0,231871.0,23296.0,19.28,1.86,1090.0,4.89,19886.0,0.97,60
2,2021/06,28757.0,2231.0,1641.0,262722.0,238171.0,24551.0,20.54,2.03,1360.0,4.66,21022.0,0.97,60
3,2021/09,30096.0,2359.0,1709.0,270726.0,246426.0,24300.0,22.43,2.22,1416.0,6.34,21646.0,1.41,60
4,2021/12,30394.0,2696.0,1939.0,276890.0,252938.0,23952.0,26.08,2.49,1605.0,6.13,22115.0,1.52,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2020/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
1,2021/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
2,2021/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
3,2021/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
4,2021/12,11464.0,4198.0,3632.0,226391.0,57838.0,168553.0,NaN,NaN,4067.0,NaN,117868.0,0.56,402340

In [340]:
df1 = pd.DataFrame()
for i in filelists:
    if '100' in i:
        df = pd.read_csv('./data/top100/'+i)
        df1 = pd.concat([df,df1])
df1

,level_1,매출액,영업이익,당기순이익,자산총계,부채총계,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code
0,2020/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
1,2021/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
2,2021/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
3,2021/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
4,2021/12,11464.0,4198.0,3632.0,226391.0,57838.0,168553.0,NaN,NaN,4067.0,NaN,117868.0,0.56,402340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2020/12,28003.0,1610.0,1110.0,253593.0,226762.0,26831.0,16.88,1.78,946.0,3.88,22664.0,0.64,60
1,2021/03,29367.0,1788.0,1320.0,255167.0,231871.0,23296.0,19.28,1.86,1090.0,4.89,19886.0,0.97,60
2,2021/06,28757.0,2231.0,1641.0,262722.0,238171.0,24551.0,20.54,2.03,1360.0,4.66,21022.0,0.97,60
3,2021/09,30096.0,2359.0,1709.0,270726.0,246426.0,24300.0,22.43,2.22,1416.0,6.34,21646.0,1.41,60
4,2021/12,30394.0,2696.0,1939.0,276890.0,252938.0,23952.0,26.08,2.49,1605.0,6.13,22115.0,1.52,60

In [331]:
df1.to_csv('./data/top_100')

### 시총 상위 500위~ 100개 종목 크롤링 (88개)

In [344]:
lis = []
for page in range(11,13):
    res= requests.get('https://finance.naver.com/sise/sise_market_sum.naver?&page={}'.format(page))
    soup = BeautifulSoup(res.text,'html.parser')
    title = soup.select('#contentarea > div.box_type_l > table.type_2 > tbody > tr > td:nth-child(2) > a')
    lis.append(title)
lis

[[<a class="tltle" href="/item/main.naver?code=009680">모토닉</a>,
  <a class="tltle" href="/item/main.naver?code=095570">AJ네트웍스</a>,
  <a class="tltle" href="/item/main.naver?code=002460">화성산업</a>,
  <a class="tltle" href="/item/main.naver?code=037710">광주신세계</a>,
  <a class="tltle" href="/item/main.naver?code=143850">TIGER 미국S&amp;P500선물(H)</a>,
  <a class="tltle" href="/item/main.naver?code=035150">백산</a>,
  <a class="tltle" href="/item/main.naver?code=105840">우진</a>,
  <a class="tltle" href="/item/main.naver?code=012610">경인양행</a>,
  <a class="tltle" href="/item/main.naver?code=029460">케이씨</a>,
  <a class="tltle" href="/item/main.naver?code=002390">한독</a>,
  <a class="tltle" href="/item/main.naver?code=096760">JW홀딩스</a>,
  <a class="tltle" href="/item/main.naver?code=018470">조일알미늄</a>,
  <a class="tltle" href="/item/main.naver?code=001130">대한제분</a>,
  <a class="tltle" href="/item/main.naver?code=011785">금호석유우</a>,
  <a class="tltle" href="/item/main.naver?code=367770">KBSTAR Fn수소경제테마</a>,
  <a class="tltle" href="/item/main.naver?code=003200">일신방직</a>,
  <a class="tltle" href="/item/main.naver?code=004380">삼익THK</a>,
  <a class="tltle" href="/item/main.naver?code=003920">남양유업</a>,
  <a class="tltle" href="/item/main.naver?code=003580">HLB글로벌</a>,
  <a class="tltle" href="/item/main.naver?code=000680">LS네트웍스</a>,
  <a class="tltle" href="/item/main.naver?code=001940">KISCO홀딩스</a>,
  <a class="tltle" href="/item/main.naver?code=194370">제이에스코퍼레이션</a>,
  <a class="tltle" href="/item/main.naver?code=079430">현대리바트</a>,
  <a class="tltle" href="/item/main.naver?code=058430">포스코스틸리온</a>,
  <a class="tltle" href="/item/main.naver?code=332940">HANARO MSCI Korea TR</a>,
  <a class="tltle" href="/item/main.naver?code=003960">사조대림</a>,
  <a class="tltle" href="/item/main.naver?code=001460">BYC</a>,
  <a class="tltle" href="/item/main.naver?code=006740">영풍제지</a>,
  <a class="tltle" href="/item/main.naver?code=002710">TCC스틸</a>,
  <a class="tltle" href="/item/main.naver?code=036530">SNT홀딩스</a>,
  <a class="tltle" href="/item/main.naver?code=214330">금호에이치티</a>,
  <a class="tltle" href="/item/main.naver?code=068290">삼성출판사</a>,
  <a class="tltle" href="/item/main.naver?code=008040">사조동아원</a>,
  <a class="tltle" href="/item/main.naver?code=035510">신세계 I&amp;C</a>,
  <a class="tltle" href="/item/main.naver?code=290130">KBSTAR ESG사회책임투자</a>,
  <a class="tltle" href="/item/main.naver?code=000155">두산우</a>,
  <a class="tltle" href="/item/main.naver?code=014280">금강공업</a>,
  <a class="tltle" href="/item/main.naver?code=031440">신세계푸드</a>,
  <a class="tltle" href="/item/main.naver?code=028100">동아지질</a>,
  <a class="tltle" href="/item/main.naver?code=006840">AK홀딩스</a>,
  <a class="tltle" href="/item/main.naver?code=030210">다올투자증권</a>,
  <a class="tltle" href="/item/main.naver?code=015860">일진홀딩스</a>,
  <a class="tltle" href="/item/main.naver?code=008060">대덕</a>,
  <a class="tltle" href="/item/main.naver?code=016450">한세예스24홀딩스</a>,
  <a class="tltle" href="/item/main.naver?code=016610">DB금융투자</a>,
  <a class="tltle" href="/item/main.naver?code=044450">KSS해운</a>,
  <a class="tltle" href="/item/main.naver?code=009155">삼성전기우</a>,
  <a class="tltle" href="/item/main.naver?code=001270">부국증권</a>,
  <a class="tltle" href="/item/main.naver?code=329200">TIGER 리츠부동산인프라</a>,
  <a class="tltle" href="/item/main.naver?code=092230">KPX홀딩스</a>],
 [<a class="tltle" href="/item/main.naver?code=003160">디아이</a>,
  <a class="tltle" href="/item/main.naver?code=002100">경농</a>,
  <a class="tltle" href="/item/main.naver?code=322000">현대에너지솔루션</a>,
  <a class="tltle" href="/item/main.naver?code=002810">삼영무역</a>,
  <a class="tltle" href="/item/main.naver?code=011760">현대코퍼레이션</a>,
  <a class="tltle" href="/item/main.naver?code=006110">삼아알미늄</a>,
  <a class="tltle" href="/item/main.naver?code=079980">휴비스</a>,
  <a class="tltle" href="/item/main.naver?code=039570">HDC랩스</a>,
  <a class="tltle" href="/item/main.naver?code=364960">TIGER KRX BBIG K-뉴딜</a>,
  <a class="tltle" href="/item/main.naver?code=000390">삼화페인트</a>,
  <a class="tltle" href="/item/main.naver?code=025000">KPX케미칼</a>,
  <a class="tltle" href="/item/main.naver?code=417310">코람코더원리츠</a>,
  <a class="tltle" href="/item/main.naver?code=007160">사조산업</a>,
  <a class="tltle" href="/item/main.naver?code=010955">S-Oil우</a>,
  <a class="tltle" href="/item/main.naver?code=213610">KODEX 삼성그룹밸류</a>,
  <a class="tltle" href="/item/main.naver?code=001070">대한방직</a>,
  <a class="tltle" href="/item/main.naver?code=013360">일성건설</a>,
  <a class="tltle" href="/item/main.naver?code=00279K">아모레G3우(전환)</a>,
  <a class="tltle" href="/item/main.naver?code=001360">삼성제약</a>,
  <a class="tltle" href="/item/main.naver?code=004560">현대비앤지스틸</a>,
  <a class="tltle" href="/item/main.naver?code=014160">대영포장</a>,
  <a class="tltle" href="/item/main.naver?code=007210">벽산</a>,
  <a class="tltle" href="/item/main.naver?code=229640">LS전선아시아</a>,
  <a class="tltle" href="/item/main.naver?code=011500">한농화성</a>,
  <a class="tltle" href="/item/main.naver?code=000540">흥국화재</a>,
  <a class="tltle" href="/item/main.naver?code=036580">팜스코</a>,
  <a class="tltle" href="/item/main.naver?code=097955">CJ제일제당 우</a>,
  <a class="tltle" href="/item/main.naver?code=101530">해태제과식품</a>,
  <a class="tltle" href="/item/main.naver?code=414780">TIGER 차이나과창판STAR50(합성)</a>,
  <a class="tltle" href="/item/main.naver?code=033920">무학</a>,
  <a class="tltle" href="/item/main.naver?code=001340">백광산업</a>,
  <a class="tltle" href="/item/main.naver?code=091160">KODEX 반도체</a>,
  <a class="tltle" href="/item/main.naver?code=005720">넥센</a>,
  <a class="tltle" href="/item/main.naver?code=070960">용평리조트</a>,
  <a class="tltle" href="/item/main.naver?code=074610">이엔플러스</a>,
  <a class="tltle" href="/item/main.naver?code=005680">삼영전자</a>,
  <a class="tltle" href="/item/main.naver?code=102260">동성케미컬</a>,
  <a class="tltle" href="/item/main.naver?code=091170">KODEX 은행</a>,
  <a class="tltle" href="/item/main.naver?code=394660">TIGER 글로벌자율주행&amp;전기차SOLACTIVE</a>,
  <a class="tltle" href="/item/main.naver?code=325020">KODEX 배당가치</a>,
  <a class="tltle" href="/item/main.naver?code=000970">한국주철관</a>,
  <a class="tltle" href="/item/main.naver?code=400760">NH올원리츠</a>,
  <a class="tltle" href="/item/main.naver?code=128820">대성산업</a>,
  <a class="tltle" href="/item/main.naver?code=083420">그린케미칼</a>,
  <a class="tltle" href="/item/main.naver?code=102280">쌍방울</a>,
  <a class="tltle" href="/item/main.naver?code=015360">예스코홀딩스</a>,
  <a class="tltle" href="/item/main.naver?code=013570">디와이</a>,
  <a class="tltle" href="/item/main.naver?code=001570">금양</a>,
  <a class="tltle" href="/item/main.naver?code=234080">JW생명과학</a>,
  <a class="tltle" href="/item/main.naver?code=004360">세방</a>]]

In [352]:
title=[]
for i in range(2):
    for i in lis[i]:
        a = i.text
        title.append(a)
print(title)

['모토닉', 'AJ네트웍스', '화성산업', '광주신세계', 'TIGER 미국S&P500선물(H)', '백산', '우진', '경인양행', '케이씨', '한독', 'JW홀딩스', '조일알미늄', '대한제분', '금호석유우', 'KBSTAR Fn수소경제테마', '일신방직', '삼익THK', '남양유업', 'HLB글로벌', 'LS네트웍스', 'KISCO홀딩스', '제이에스코퍼레이션', '현대리바트', '포스코스틸리온', 'HANARO MSCI Korea TR', '사조대림', 'BYC', '영풍제지', 'TCC스틸', 'SNT홀딩스', '금호에이치티', '삼성출판사', '사조동아원', '신세계 I&C', 'KBSTAR ESG사회책임투자', '두산우', '금강공업', '신세계푸드', '동아지질', 'AK홀딩스', '다올투자증권', '일진홀딩스', '대덕', '한세예스24홀딩스', 'DB금융투자', 'KSS해운', '삼성전기우', '부국증권', 'TIGER 리츠부동산인프라', 'KPX홀딩스', '디아이', '경농', '현대에너지솔루션', '삼영무역', '현대코퍼레이션', '삼아알미늄', '휴비스', 'HDC랩스', 'TIGER KRX BBIG K-뉴딜', '삼화페인트', 'KPX케미칼', '코람코더원리츠', '사조산업', 'S-Oil우', 'KODEX 삼성그룹밸류', '대한방직', '일성건설', '아모레G3우(전환)', '삼성제약', '현대비앤지스틸', '대영포장', '벽산', 'LS전선아시아', '한농화성', '흥국화재', '팜스코', 'CJ제일제당 우', '해태제과식품', 'TIGER 차이나과창판STAR50(합성)', '무학', '백광산업', 'KODEX 반도체', '넥센', '용평리조트', '이엔플러스', '삼영전자', '동성케미컬', 'KODEX 은행', 'TIGER 글로벌자율주행&전기차SOLACTIVE', 'KODEX 배당가치', '한국주철관', 'NH올원리츠', '대성산업', '그린케미칼', '쌍방울', '예스코홀딩스', '디와이', '금양', 'JW생명과학', '세방']

In [356]:
code_lis= []
for i in title:
    code_lis.append(nametocode(i))
print(code_lis)
len(code_lis)

['009680', '095570', '002460', '037710', '143850', '035150', '105840', '012610', '029460', '002390', '096760', '018470', '001130', '011785', '367770', '003200', '004380', '003920', '003580', '000680', '001940', '194370', '079430', '058430', '332940', '003960', '001460', '006740', '002710', '036530', '214330', '068290', '008040', '035510', '290130', '000155', '014280', '031440', '028100', '006840', '030210', '015860', '008060', '016450', '016610', '044450', '009155', '001270', '329200', '092230', '003160', '002100', '322000', '002810', '011760', '006110', '079980', '039570', '364960', '000390', '025000', '417310', '007160', '010955', '213610', '001070', '013360', '00279K', '001360', '004560', '014160', '007210', '229640', '011500', '000540', '036580', '097955', '101530', '414780', '033920', '001340', '091160', '005720', '070960', '074610', '005680', '102260', '091170', '394660', '325020', '000970', '400760', '128820', '083420', '102280', '015360', '013570', '001570', '234080', '004360']

100

In [359]:
driver  =webdriver.Chrome()
count = 0

for code in code_lis:

    url = 'https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cn=&cmp_cd={}&menuType=block'.\
            format(code)

    driver.get(url)
    time.sleep(0.5)
    try:
        driver.find_element_by_id('cns_Tab22').click()
        time.sleep(0.5)

        html = driver.page_source

        tables = pd.read_html(html, encoding='utf-8')
        fin_df = tables[12]

        fin_df = fin_df.T.iloc[:6]
        fin_df.columns = fin_df.iloc[0]
        fin_df.drop('주요재무정보', inplace=True)

        fin_df.reset_index(inplace=True)
        fin_df.drop('level_0', axis=1, inplace=True)

        fin_df.index = fin_df.level_1.apply(lambda x: x.split()[0])
        fin_df.drop('level_1', axis=1, inplace=True)

        fin_df = fin_df[['매출액','영업이익','당기순이익','자산총계','부채총계','자본총계','ROE(%)', 'ROA(%)',\
                'EPS(원)', 'PER(배)','BPS(원)', 'PBR(배)']]

        fin_df['code'] = code

        fin_df.to_csv('./data/500_{}'.format(code))
        
        count +=1
        print(count, end=' ')
    except:
        pass

C:\Users\bitcamp\AppData\Local\Temp/ipykernel_20408/2292339136.py:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('cns_Tab22').click()

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88

In [ ]:
import os
file_lis = os.listdir('./data/')
for i in file_lis:
    if '500'

### 종목추출 및 2개월 수익률 확인

In [502]:
df_fin = pd.read_csv('./data/top100/top_100')

In [503]:
df_fin.tail()

,Unnamed: 0,level_1,매출액,영업이익,당기순이익,자산총계,부채총계,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code
495,0,2020/12,28003.0,1610.0,1110.0,253593.0,226762.0,26831.0,16.88,1.78,946.0,3.88,22664.0,0.64,60
496,1,2021/03,29367.0,1788.0,1320.0,255167.0,231871.0,23296.0,19.28,1.86,1090.0,4.89,19886.0,0.97,60
497,2,2021/06,28757.0,2231.0,1641.0,262722.0,238171.0,24551.0,20.54,2.03,1360.0,4.66,21022.0,0.97,60
498,3,2021/09,30096.0,2359.0,1709.0,270726.0,246426.0,24300.0,22.43,2.22,1416.0,6.34,21646.0,1.41,60
499,4,2021/12,30394.0,2696.0,1939.0,276890.0,252938.0,23952.0,26.08,2.49,1605.0,6.13,22115.0,1.52,60

In [504]:
df_fin1 = df_fin[df_fin['ROE(%)'] > 10 ]

In [505]:
df_fin1 = df_fin1[df_fin1['ROA(%)']>10]

In [506]:
df_fin1 = df_fin1[df_fin1['PER(배)']<10]

In [507]:
df_fin1 = df_fin1[df_fin1['PBR(배)']<1]

In [508]:
df_fin1

,Unnamed: 0,level_1,매출액,영업이익,당기순이익,자산총계,부채총계,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code
339,4,2021/12,21720.0,4153.0,3023.0,81157.0,30328.0,50829.0,47.76,29.91,9031.0,2.83,181037.0,0.92,11780
452,2,2021/06,19235.0,6117.0,10011.0,240060.0,29358.0,210701.0,13.74,12.06,5857.0,6.42,127630.0,0.80,3550
453,3,2021/09,20268.0,6125.0,5666.0,249746.0,30418.0,219328.0,12.29,10.86,3393.0,6.13,132859.0,0.70,3550
454,4,2021/12,7282.0,2350.0,589.0,256698.0,37296.0,219402.0,12.36,10.75,65.0,5.22,132574.0,0.61,3550

In [509]:
df_fin

,Unnamed: 0,level_1,매출액,영업이익,당기순이익,자산총계,부채총계,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code
0,0,2020/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
1,1,2021/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
2,2,2021/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
3,3,2021/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
4,4,2021/12,11464.0,4198.0,3632.0,226391.0,57838.0,168553.0,NaN,NaN,4067.0,NaN,117868.0,0.56,402340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,2020/12,28003.0,1610.0,1110.0,253593.0,226762.0,26831.0,16.88,1.78,946.0,3.88,22664.0,0.64,60
496,1,2021/03,29367.0,1788.0,1320.0,255167.0,231871.0,23296.0,19.28,1.86,1090.0,4.89,19886.0,0.97,60
497,2,2021/06,28757.0,2231.0,1641.0,262722.0,238171.0,24551.0,20.54,2.03,1360.0,4.66,21022.0,0.97,60
498,3,2021/09,30096.0,2359.0,1709.0,270726.0,246426.0,24300.0,22.43,2.22,1416.0,6.34,21646.0,1.41,60
499,4,2021/12,30394.0,2696.0,1939.0,276890.0,252938.0,23952.0,26.08,2.49,1605.0,6.13,22115.0,1.52,60

In [404]:
df = df_krx[df_krx['Symbol'] == '011780'] 
df1 = df_krx[df_krx['Symbol'] == '003550'] 
df = pd.concat([df,df1])

In [405]:
df

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
2223,011780,KOSPI,금호석유,기초 화학물질 제조업,"합성고무 SBR(스티렌부타디엔러버),BR(폴리부타디엔러버),합성수지,BD,라텍스 제...",1988-01-22,12월,백종훈,http://www.kkpc.com,서울특별시
1738,003550,KOSPI,LG,기타 금융업,지주회사,1970-02-13,12월,"구광모, 권봉석",http://www.lg.co.kr,서울특별시

In [525]:
금호석유 = fdr.DataReader('011780', '2021')
금호석유['rtn20'] = (금호석유.Close.shift(-20) - 금호석유.Close)/금호석유.Close
금호석유 = 금호석유.dropna()

In [526]:
금호석유

              Open    High     Low   Close  Volume    Change     rtn20
Date
2021-01-04  146000  152500  142000  151000  360114  0.041379  0.619205
2021-01-05  149000  166500  148500  162500  905999  0.076159  0.541538
2021-01-06  165000  169000  157500  161500  629767 -0.006154  0.532508
2021-01-07  164500  173500  163000  172000  530278  0.065015  0.470930
2021-01-08  174500  175000  163000  167500  502806 -0.026163  0.650746
...            ...     ...     ...     ...     ...       ...       ...
2022-04-05  156500  157500  155500  156500   79694  0.003205 -0.012780
2022-04-06  155500  159500  155000  158000  123507  0.009585  0.000000
2022-04-07  156000  156000  151500  151500  214620 -0.041139 -0.016502
2022-04-08  152000  153000  151500  152000   73638  0.003300 -0.046053
2022-04-11  151000  154500  150000  153000   92604  0.006579 -0.039216

[314 rows x 7 columns]

In [527]:
LG = fdr.DataReader('003550','2021')
LG

              Open    High    Low   Close   Volume    Change
Date
2021-01-04   83130   96828  82091   91538  2269706  0.107431
2021-01-05   90026   93238  89270   92860   992337  0.014442
2021-01-06   93710   94938  90971   91916   975477 -0.010166
2021-01-07   92860  112415  92577  101551  3425106  0.104824
2021-01-08  101551  105802  96828   99662  1765225 -0.018601
...            ...     ...    ...     ...      ...       ...
2022-05-03   73100   74100  73100   73600   120969 -0.002710
2022-05-04   73500   74500  73400   74000   151006  0.005435
2022-05-06   73700   74000  72600   72800   192431 -0.016216
2022-05-09   71900   73200  71800   71800   128558 -0.013736
2022-05-10   72100   72200  69600   70900   273941 -0.012535

[334 rows x 6 columns]

In [528]:
LG = fdr.DataReader('003550', '2021')
LG['rtn20'] = (LG.Close.shift(-20) - LG.Close)/LG.Close
LG = LG.dropna()
LG

              Open    High    Low   Close   Volume    Change     rtn20
Date
2021-01-04   83130   96828  82091   91538  2269706  0.107431  0.062947
2021-01-05   90026   93238  89270   92860   992337  0.014442  0.042731
2021-01-06   93710   94938  90971   91916   975477 -0.010166  0.063721
2021-01-07   92860  112415  92577  101551  3425106  0.104824 -0.051157
2021-01-08  101551  105802  96828   99662  1765225 -0.018601 -0.014218
...            ...     ...    ...     ...      ...       ...       ...
2022-04-05   75200   75800  74700   75300   128510 -0.002649 -0.022576
2022-04-06   75100   75900  74600   74800   152048 -0.006640 -0.010695
2022-04-07   74000   74400  73100   73800   207878 -0.013369 -0.013550
2022-04-08   74200   74600  73600   74500   140302  0.009485 -0.036242
2022-04-11   74200   75600  74100   74900   155604  0.005369 -0.053405

[314 rows x 7 columns]

In [529]:
df_concat_pr = pd.concat([금호석유, LG])

In [530]:
df_concat_pr

              Open    High     Low   Close  Volume    Change     rtn20
Date
2021-01-04  146000  152500  142000  151000  360114  0.041379  0.619205
2021-01-05  149000  166500  148500  162500  905999  0.076159  0.541538
2021-01-06  165000  169000  157500  161500  629767 -0.006154  0.532508
2021-01-07  164500  173500  163000  172000  530278  0.065015  0.470930
2021-01-08  174500  175000  163000  167500  502806 -0.026163  0.650746
...            ...     ...     ...     ...     ...       ...       ...
2022-04-05   75200   75800   74700   75300  128510 -0.002649 -0.022576
2022-04-06   75100   75900   74600   74800  152048 -0.006640 -0.010695
2022-04-07   74000   74400   73100   73800  207878 -0.013369 -0.013550
2022-04-08   74200   74600   73600   74500  140302  0.009485 -0.036242
2022-04-11   74200   75600   74100   74900  155604  0.005369 -0.053405

[628 rows x 7 columns]

In [516]:
# df_concat_pr = df_concat_pr.set_index('level_1')

In [517]:
# df_concat_pr.index.names = ['Date_mer']

In [532]:
df_concat_pr

              Open    High     Low   Close  Volume    Change     rtn20
Date
2021-01-04  146000  152500  142000  151000  360114  0.041379  0.619205
2021-01-05  149000  166500  148500  162500  905999  0.076159  0.541538
2021-01-06  165000  169000  157500  161500  629767 -0.006154  0.532508
2021-01-07  164500  173500  163000  172000  530278  0.065015  0.470930
2021-01-08  174500  175000  163000  167500  502806 -0.026163  0.650746
...            ...     ...     ...     ...     ...       ...       ...
2022-04-05   75200   75800   74700   75300  128510 -0.002649 -0.022576
2022-04-06   75100   75900   74600   74800  152048 -0.006640 -0.010695
2022-04-07   74000   74400   73100   73800  207878 -0.013369 -0.013550
2022-04-08   74200   74600   73600   74500  140302  0.009485 -0.036242
2022-04-11   74200   75600   74100   74900  155604  0.005369 -0.053405

[628 rows x 7 columns]

In [533]:
df_concat_pr = df_concat_pr.reset_index()

In [534]:
import datetime
df_concat_pr['Date_mer'] = df_concat_pr['Date'].dt.strftime('%Y/%m')

In [535]:
df_concat_pr = df_concat_pr.set_index('Date_mer')

In [537]:
df_concat_pr

,Date,Open,High,Low,Close,Volume,Change,rtn20
Date_mer,,,,,,,,
2021/01,2021-01-04,146000,152500,142000,151000,360114,0.041379,0.619205
2021/01,2021-01-05,149000,166500,148500,162500,905999,0.076159,0.541538
2021/01,2021-01-06,165000,169000,157500,161500,629767,-0.006154,0.532508
2021/01,2021-01-07,164500,173500,163000,172000,530278,0.065015,0.470930
2021/01,2021-01-08,174500,175000,163000,167500,502806,-0.026163,0.650746
...,...,...,...,...,...,...,...,...
2022/04,2022-04-05,75200,75800,74700,75300,128510,-0.002649,-0.022576
2022/04,2022-04-06,75100,75900,74600,74800,152048,-0.006640,-0.010695
2022/04,2022-04-07,74000,74400,73100,73800,207878,-0.013369,-0.013550
2022/04,2022-04-08,74200,74600,73600,74500,140302,0.009485,-0.036242
2022/04,2022-04-11,74200,75600,74100,74900,155604,0.005369,-0.053405

In [536]:
def mergedate(company):
    company = company.reset_index()
    company['Date_mer'] = company['Date'].dt.strftime('%Y/%m')
    return company.set_index('Date_mer')

In [470]:
# LG = mergedate(LG)

In [538]:
# LG

In [540]:
df_fin.set_index('level_1', inplace=True)

In [541]:
df_fin

,Unnamed: 0,매출액,영업이익,당기순이익,자산총계,부채총계,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code
level_1,,,,,,,,,,,,,,
2020/12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
2021/03,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
2021/06,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
2021/09,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
2021/12,4,11464.0,4198.0,3632.0,226391.0,57838.0,168553.0,NaN,NaN,4067.0,NaN,117868.0,0.56,402340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020/12,0,28003.0,1610.0,1110.0,253593.0,226762.0,26831.0,16.88,1.78,946.0,3.88,22664.0,0.64,60
2021/03,1,29367.0,1788.0,1320.0,255167.0,231871.0,23296.0,19.28,1.86,1090.0,4.89,19886.0,0.97,60
2021/06,2,28757.0,2231.0,1641.0,262722.0,238171.0,24551.0,20.54,2.03,1360.0,4.66,21022.0,0.97,60
2021/09,3,30096.0,2359.0,1709.0,270726.0,246426.0,24300.0,22.43,2.22,1416.0,6.34,21646.0,1.41,60
2021/12,4,30394.0,2696.0,1939.0,276890.0,252938.0,23952.0,26.08,2.49,1605.0,6.13,22115.0,1.52,60

In [542]:
# merged_df = pd.concat([LG, 금호석유])
merged_df = pd.merge(df_concat_pr,df_fin,left_index=True,right_index=True)

In [543]:
merged_df

,Date,Open,High,Low,Close,Volume,Change,rtn20,Unnamed: 0,매출액,...,자산총계,부채총계,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code
2021/03,2021-03-02,217500,222000,205000,209000,581298,-0.009479,0.232057,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402340
2021/03,2021-03-02,217500,222000,205000,209000,581298,-0.009479,0.232057,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,383220
2021/03,2021-03-02,217500,222000,205000,209000,581298,-0.009479,0.232057,1,1071.0,...,16026.0,13822.0,2204.0,NaN,NaN,122.0,NaN,1764.0,0.00,377300
2021/03,2021-03-02,217500,222000,205000,209000,581298,-0.009479,0.232057,1,42541.0,...,208001.0,125821.0,82180.0,NaN,NaN,1855.0,NaN,36662.0,0.00,373220
2021/03,2021-03-02,217500,222000,205000,209000,581298,-0.009479,0.232057,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021/12,2021-12-30,81400,81800,80700,80900,357548,-0.011002,-0.085290,4,51805.0,...,196373.0,102080.0,94293.0,5.88,2.95,1129.0,12.18,64200.0,0.69,720
2021/12,2021-12-30,81400,81800,80700,80900,357548,-0.011002,-0.085290,4,123766.0,...,963865.0,341954.0,621911.0,16.84,11.48,4556.0,9.93,90394.0,1.45,660
2021/12,2021-12-30,81400,81800,80700,80900,357548,-0.011002,-0.085290,4,171884.0,...,668500.0,319374.0,349126.0,14.69,7.48,3078.0,7.00,87073.0,0.94,270
2021/12,2021-12-30,81400,81800,80700,80900,357548,-0.011002,-0.085290,4,4240.0,...,24638.0,5279.0,19359.0,5.45,4.08,230.0,45.05,28159.0,2.21,100
2021/12,2021-12-30,81400,81800,80700,80900,357548,-0.011002,-0.085290,4,30394.0,...,276890.0,252938.0,23952.0,26.08,2.49,1605.0,6.13,22115.0,1.52,60

In [485]:
# merged_df = merged_df.rename(columns={'Date_x': 'Date_금호석유'})
# merged_df = merged_df.rename(columns={'Date_y': 'Date_LG'})

In [544]:
merged_df.loc['2021/12']

,Date,Open,High,Low,Close,Volume,Change,rtn20,Unnamed: 0,매출액,...,자산총계,부채총계,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code
2021/12,2021-12-01,156500,169500,155500,168500,504724,0.087097,0.023739,4,11464.0,...,226391.0,57838.0,168553.0,NaN,NaN,4067.0,NaN,117868.0,0.56,402340
2021/12,2021-12-01,156500,169500,155500,168500,504724,0.087097,0.023739,4,5632.0,...,11465.0,5991.0,5474.0,NaN,NaN,3369.0,NaN,14307.0,13.21,383220
2021/12,2021-12-01,156500,169500,155500,168500,504724,0.087097,0.023739,4,NaN,...,34327.0,16371.0,17956.0,NaN,NaN,NaN,NaN,12839.0,13.59,377300
2021/12,2021-12-01,156500,169500,155500,168500,504724,0.087097,0.023739,4,44394.0,...,237641.0,150218.0,87424.0,10.68,4.25,210.0,NaN,39831.0,0.00,373220
2021/12,2021-12-01,156500,169500,155500,168500,504724,0.087097,0.023739,4,1573.0,...,31845.0,9683.0,22162.0,NaN,NaN,-125.0,NaN,31084.0,5.40,361610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021/12,2021-12-30,81400,81800,80700,80900,357548,-0.011002,-0.085290,4,51805.0,...,196373.0,102080.0,94293.0,5.88,2.95,1129.0,12.18,64200.0,0.69,720
2021/12,2021-12-30,81400,81800,80700,80900,357548,-0.011002,-0.085290,4,123766.0,...,963865.0,341954.0,621911.0,16.84,11.48,4556.0,9.93,90394.0,1.45,660
2021/12,2021-12-30,81400,81800,80700,80900,357548,-0.011002,-0.085290,4,171884.0,...,668500.0,319374.0,349126.0,14.69,7.48,3078.0,7.00,87073.0,0.94,270
2021/12,2021-12-30,81400,81800,80700,80900,357548,-0.011002,-0.085290,4,4240.0,...,24638.0,5279.0,19359.0,5.45,4.08,230.0,45.05,28159.0,2.21,100
2021/12,2021-12-30,81400,81800,80700,80900,357548,-0.011002,-0.085290,4,30394.0,...,276890.0,252938.0,23952.0,26.08,2.49,1605.0,6.13,22115.0,1.52,60

In [559]:
# merged_df['rtn1'] = merged_df.Close.pct_change()

In [578]:
merged_df.reset_index(inplace=True)

In [579]:
merged_df1 = merged_df[merged_df['ROE(%)'] > 10 ]

In [580]:
merged_df1 = merged_df1[merged_df1['ROA(%)']>10]

In [581]:
merged_df1 = merged_df1[merged_df1['PER(배)']<10]

In [582]:
merged_df1 = merged_df1[merged_df1['PBR(배)']<1]

In [593]:
temp_df = merged_df[(merged_df['ROE(%)'] > 10 ) & (merged_df1['ROA(%)']>10) & (merged_df1['PER(배)']<10) & (merged_df1['PBR(배)']<1)]

In [594]:
temp_df.drop_duplicates(subset=['index', 'code'], keep='first')

,index,Date,Open,High,Low,Close,Volume,Change,rtn20,Unnamed: 0,...,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code,rtn1,cum_rtn
4490,2021/06,2021-06-01,230000,235000,229500,229500,208946,-0.008639,-0.045752,2,...,210701.0,13.74,12.06,5857.0,6.42,127630.0,0.80,3550,0.0,1.098086
8890,2021/09,2021-09-01,193000,196000,189500,192500,234066,-0.010283,-0.067532,3,...,219328.0,12.29,10.86,3393.0,6.13,132859.0,0.70,3550,0.0,0.921053
12667,2021/12,2021-12-01,156500,169500,155500,168500,504724,0.087097,0.023739,4,...,50829.0,47.76,29.91,9031.0,2.83,181037.0,0.92,11780,0.0,0.806220
12690,2021/12,2021-12-01,156500,169500,155500,168500,504724,0.087097,0.023739,4,...,219402.0,12.36,10.75,65.0,5.22,132574.0,0.61,3550,0.0,0.806220

In [583]:
# merged_df['cum_rtn'] = (merged_df['rtn1'] + 1).cumprod()

In [584]:
codes = merged_df1.code.unique()

In [588]:
inv_df = merged_df1.drop_duplicates(subset=['index', 'code'], keep='first')
inv_df

,index,Date,Open,High,Low,Close,Volume,Change,rtn20,Unnamed: 0,...,자본총계,ROE(%),ROA(%),EPS(원),PER(배),BPS(원),PBR(배),code,rtn1,cum_rtn
4490,2021/06,2021-06-01,230000,235000,229500,229500,208946,-0.008639,-0.045752,2,...,210701.0,13.74,12.06,5857.0,6.42,127630.0,0.80,3550,0.0,1.098086
8890,2021/09,2021-09-01,193000,196000,189500,192500,234066,-0.010283,-0.067532,3,...,219328.0,12.29,10.86,3393.0,6.13,132859.0,0.70,3550,0.0,0.921053
12667,2021/12,2021-12-01,156500,169500,155500,168500,504724,0.087097,0.023739,4,...,50829.0,47.76,29.91,9031.0,2.83,181037.0,0.92,11780,0.0,0.806220
12690,2021/12,2021-12-01,156500,169500,155500,168500,504724,0.087097,0.023739,4,...,219402.0,12.36,10.75,65.0,5.22,132574.0,0.61,3550,0.0,0.806220

In [590]:
inv_df.rtn20.mean()

-0.016451589178068493

In [ ]:
# 여러가지 퀀트전략 적용해보기

In [601]:
dp1 = pd.read_csv('C:/Users/bitcamp/argo_trade/algoTrade/ch06/ETFs_main.csv')

In [602]:
dp1

,Dates,CLOSE_SPY,OPEN,HIGH,LOW,VOLUME,CLOSE_GLD,CLOSE_FXY,CLOSE_T10Y2Y,CLOSE_TED,CLOSE_USO,CLOSE_UUP,CLOSE_VIX,CLOSE_VWO
0,2007-02-20,146.04,145.56,146.200,144.0,56909500.0,65.31,83.51,2.3263,0.31,48.67,25.07,10.24,40.055
1,2007-02-21,145.98,145.61,146.070,145.0,63971500.0,67.28,82.90,2.3653,0.32,49.86,25.12,10.20,39.975
2,2007-02-22,145.87,146.05,146.420,145.0,79067398.0,67.15,82.46,2.3871,0.31,50.33,25.12,10.18,40.220
3,2007-02-23,145.30,145.74,145.790,145.0,71962797.0,67.72,82.78,2.3809,0.31,50.46,25.04,10.58,40.035
4,2007-02-26,145.17,145.83,145.950,145.0,69320062.0,68.10,83.08,2.3795,0.31,50.90,25.04,11.15,39.960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2766,2018-12-20,247.17,249.86,251.620,245.0,252053406.0,119.24,85.87,1.7807,0.48,9.72,25.77,28.38,38.180
2767,2018-12-21,240.70,246.74,249.710,240.0,255345594.0,118.72,85.87,1.7651,0.48,9.57,25.94,30.11,37.870
2768,2018-12-24,234.34,239.04,240.836,234.0,147311594.0,120.02,86.55,1.7505,0.40,9.29,25.55,36.07,37.320
2769,2018-12-27,248.07,242.57,248.290,239.0,186267297.0,120.57,86.00,1.7581,0.44,9.62,25.57,29.96,37.900
2770,2018-12-28,247.75,249.58,251.400,246.0,153100188.0,121.06,86.63,1.7320,0.45,9.53,25.50,28.34,38.170

### 상위 10개 etf 도전

In [723]:
# lis = ['KODEX 200','TIGER 차이나전기차SOLACTIVE','KODEX 200선물인버스2X','KODEX 레버리지','TIGER 미국나스닥100',\
#        'KODEX 단기채권PLUS','TIGER 단기통안채','TIGER 200','TIGER 미국S&P500','KODEX 단기채권']

lis = ['KODEX 200','KODEX 레버리지','TIGER 미국나스닥100',\
       'TIGER 단기통안채','TIGER 200','KODEX 단기채권']
# 상장된지얼마안된거없앰

In [724]:
li = []
for i in lis:
    li.append(nametocode(i))

In [725]:
li

['069500', '122630', '133690', '157450', '102110', '153130']

In [639]:
# # df = fdr.DataReader('069500','2020')
# tmp = []
# for i in li:
#     a = fdr.DataReader(i,'2021')
#     tmp.append(a)

In [633]:
# 머지를 하는데 , 가로로하고 , 종목 코드를 컬럼 이름으로 !

             Open   High    Low  Close   Volume    Change
Date
2020-01-02  28128  28197  27755  27812  5074135 -0.010566
2020-01-03  28053  28207  27654  27808  8408726 -0.000144
2020-01-06  27607  27688  27533  27595  6104793 -0.007660
2020-01-07  27774  27976  27708  27873  5862812  0.010074
2020-01-08  27654  27840  27509  27695  6771062 -0.006386
...           ...    ...    ...    ...      ...       ...
2022-05-03  35380  35645  35290  35290  5987778 -0.002403
2022-05-04  35450  35570  35245  35375  5560940  0.002409
2022-05-06  35010  35010  34785  34885  6080928 -0.013852
2022-05-09  34745  34910  34505  34555  7164200 -0.009460
2022-05-10  34295  34445  33855  34375  5753769 -0.005209

[582 rows x 6 columns]

In [691]:
df_etfs = pd.read_csv('./data/ETFs_main.csv')
df_etfs

,Dates,CLOSE_SPY,OPEN,HIGH,LOW,VOLUME,CLOSE_GLD,CLOSE_FXY,CLOSE_T10Y2Y,CLOSE_TED,CLOSE_USO,CLOSE_UUP,CLOSE_VIX,CLOSE_VWO
0,2007-02-20,146.04,145.56,146.200,144.0,56909500.0,65.31,83.51,2.3263,0.31,48.67,25.07,10.24,40.055
1,2007-02-21,145.98,145.61,146.070,145.0,63971500.0,67.28,82.90,2.3653,0.32,49.86,25.12,10.20,39.975
2,2007-02-22,145.87,146.05,146.420,145.0,79067398.0,67.15,82.46,2.3871,0.31,50.33,25.12,10.18,40.220
3,2007-02-23,145.30,145.74,145.790,145.0,71962797.0,67.72,82.78,2.3809,0.31,50.46,25.04,10.58,40.035
4,2007-02-26,145.17,145.83,145.950,145.0,69320062.0,68.10,83.08,2.3795,0.31,50.90,25.04,11.15,39.960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2766,2018-12-20,247.17,249.86,251.620,245.0,252053406.0,119.24,85.87,1.7807,0.48,9.72,25.77,28.38,38.180
2767,2018-12-21,240.70,246.74,249.710,240.0,255345594.0,118.72,85.87,1.7651,0.48,9.57,25.94,30.11,37.870
2768,2018-12-24,234.34,239.04,240.836,234.0,147311594.0,120.02,86.55,1.7505,0.40,9.29,25.55,36.07,37.320
2769,2018-12-27,248.07,242.57,248.290,239.0,186267297.0,120.57,86.00,1.7581,0.44,9.62,25.57,29.96,37.900
2770,2018-12-28,247.75,249.58,251.400,246.0,153100188.0,121.06,86.63,1.7320,0.45,9.53,25.50,28.34,38.170

In [739]:
tmp_df = pd.DataFrame()
for i in li:
    a = fdr.DataReader(i,'2013')
    tmp_df = pd.concat([tmp_df,a],axis=1)
    tmp_df = tmp_df.rename(columns = {'Open':'Open_'+i,'High':'High_'+i,'Low':'Low_'+i,'Close':'Close_'+i,'Volume':'Volume_'+i,\
                            'Change':'Change_'+i})

In [741]:
tmp_df

,Open_069500,High_069500,Low_069500,Close_069500,Volume_069500,Change_069500,Open_122630,High_122630,Low_122630,Close_122630,...,Low_102110,Close_102110,Volume_102110,Change_102110,Open_153130,High_153130,Low_153130,Close_153130,Volume_153130,Change_153130
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,22652,22962,22652,22939,5157531,0.019556,13175,13515,13170,13495,...,22187,22582,1574236,0.018859,89635,89640,89631,89643,135682,0.000156
2013-01-03,23077,23138,22846,22858,9339160,-0.003531,13700,13725,13400,13400,...,22474,22484,1329891,-0.004340,89659,89667,89654,89670,59047,0.000301
2013-01-04,22868,22885,22668,22719,6046477,-0.006081,13375,13425,13160,13195,...,22310,22372,1738859,-0.004981,89670,89684,89670,89688,49921,0.000201
2013-01-07,22727,22760,22549,22733,5262472,0.000616,13210,13265,13025,13220,...,22215,22409,901967,0.001654,89689,89689,89684,89692,47210,0.000045
2013-01-08,22609,22699,22476,22492,4643255,-0.010601,13135,13200,12955,12960,...,22159,22176,1282550,-0.010398,89694,89698,89689,89692,17457,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-03,35380,35645,35290,35290,5987778,-0.002403,19000,19280,18895,18930,...,35340,35370,637211,-0.001271,103360,103375,103355,103355,4274833,-0.000193
2022-05-04,35450,35570,35245,35375,5560940,0.002409,19080,19205,18855,18980,...,35290,35420,379994,0.001414,103370,103390,103370,103390,1963120,0.000339
2022-05-06,35010,35010,34785,34885,6080928,-0.013852,18570,18585,18355,18475,...,34840,34945,1204643,-0.013411,103375,103390,103375,103380,1574447,-0.000097
2022-05-09,34745,34910,34505,34555,7164200,-0.009460,18275,18480,18050,18105,...,34560,34625,712354,-0.009157,103385,103395,103385,103385,1403571,0.000048
2022-05-10,34295,34445,33855,34375,5753769,-0.005209,17825,17985,17365,17930,...,33905,34430,1314685,-0.005632,103400,103420,103400,103405,2665267,0.000193

In [734]:
# 거래량 상위 10개
etfs_10 = ['KODEX 200선물인버스2X','KODEX 코스닥150선물인버스','KODEX 인버스','KODEX 레버리지','KODEX 코스닥150레버리지',\
           'TIGER 200선물인버스2X','KODEX WTI원유선물인버스(H)','TIGER 원유선물인버스(H)','KODEX 코스닥150','KODEX 200']

etfs_10 = ['KODEX 코스닥150선물인버스','KODEX 인버스','KODEX 레버리지','KODEX 코스닥150레버리지',\
           'TIGER 200선물인버스2X','KODEX WTI원유선물인버스(H)','TIGER 원유선물인버스(H)','KODEX 코스닥150','KODEX 200']

In [712]:
tmp_li=[]
for i in etfs_10:
    tmp_li.append(nametocode(i))

In [713]:
tmp_li

['252670',
 '251340',
 '114800',
 '122630',
 '233740',
 '252710',
 '271050',
 '217770',
 '229200',
 '069500']

In [720]:
tmp_df2 = pd.DataFrame()
for i in tmp_li:
    a = fdr.DataReader(i,'2015')
    tmp_df2 = pd.concat([tmp_df2,a],axis=1)
    tmp_df2 = tmp_df2.rename(columns = {'Open':'Open_'+i,'High':'High_'+i,'Low':'Low_'+i,'Close':'Close_'+i,'Volume':'Volume_'+i,\
                            'Change':'Change_'+i})

In [721]:
tmp_df2.isnull().sum()

Open_252670      424
High_252670      424
Low_252670       424
Close_252670     424
Volume_252670    424
Change_252670    425
Open_251340      397
High_251340      397
Low_251340       397
Close_251340     397
Volume_251340    397
Change_251340    398
Open_114800        0
High_114800        0
Low_114800         0
Close_114800       0
Volume_114800      0
Change_114800      0
Open_122630        0
High_122630        0
Low_122630         0
Close_122630       0
Volume_122630      0
Change_122630      0
Open_233740      239
High_233740      239
Low_233740       239
Close_233740     239
Volume_233740    239
Change_233740    240
Open_252710      424
High_252710      424
Low_252710       424
Close_252710     424
Volume_252710    424
Change_252710    425
Open_271050      602
High_271050      602
Low_271050       602
Close_271050     602
Volume_271050    602
Change_271050    603
Open_217770       80
High_217770       80
Low_217770        80
Close_217770      80
Volume_217770     80
Change_217770     81
Open_229200      185
High_229200      185
Low_229200       185
Close_229200     185
Volume_229200    185
Change_229200    186
Open_069500        0
High_069500        0
Low_069500         0
Close_069500       0
Volume_069500      0
Change_069500      0
dtype: int64

#### 금 etf 데이터 만들기

In [742]:
gold_etfs= ['GLD','IAU','GLDM','SGOL','IAUM','BAR','OUNZ','AAAU','DGL']

In [748]:
df_nas = fdr.StockListing('NASDAQ')
df_nas

100%|█████████████████████████████████████████████████████████████████████████████| 4621/4621 [00:13<00:00, 349.72it/s]

,Symbol,Name,Industry,IndustryCode
0,AAPL,Apple Inc,"컴퓨터, 전화 및 가전제품",571060
1,MSFT,Microsoft Corp,소프트웨어 및 IT서비스,572010
2,AMZN,Amazon.com Inc,다양한 소매업,534020
3,TSLA,Tesla Inc,자동차 및 자동차 부품,531010
4,GOOGL,Alphabet Inc Class A,소프트웨어 및 IT서비스,572010
...,...,...,...,...
4616,RFACR,RF Acquisition Rights Exp 1st May 2028,기타 금융업,556010
4617,RWODR,Redwoods Acquisition Rights,기타 금융업,556010
4618,SVRE,Saverone 2014 Ltd ADR,소프트웨어 및 IT서비스,572010
4619,IVCAU,Investcorp India Acquisition Units,기타 금융업,556010
4620,TENKU,Tenx Keane Acquisition Units,기타 금융업,556010

In [749]:
def nametocode_nas(name):
    return df_nas[df_nas.Symbol == name]['IndustryCode'].values[0]

In [750]:
gd_etfs=[]
for i in gold_etfs:
    gd_etfs.append(nametocode_nas(i))

IndexError: index 0 is out of bounds for axis 0 with size 0

In [752]:
df_nas[df_nas.Symbol == 'GLD']['IndustryCode'].values[0]

Series([], Name: IndustryCode, dtype: object)

In [753]:
df_nys = fdr.StockListing('NYSE')
df_nys

NameError: name 'NYSE' is not defined

In [754]:
df_amx = fdr.StockListing(AMEX)
df_amx

NameError: name 'AMEX' is not defined

In [755]:
df_sp = fdr.StockListing(SP500)
df_sp

NameError: name 'SP500' is not defined